body {
    background-color: #DFD7CC;
}

.header-div {
    padding-top: 19px;
    padding-left: 19px;
    padding-right: 19px;
}

.header-paddingless-div {
    padding: 0;
}

.header-padding-div {
    padding: 19px;
}

.header-aboutme-text {
    font-size: 160px;
    font-weight: 100px;
    color: black;
}

.header-description-text {
    font-size: 36px;
}

.header-navbar-div {
    padding: 0;
    background-color: #484848;
    height: 60px;
}

.accomplish-card-div {
    color: black;
    font-size: 36px;
    text-align: center;
    width: 100px;
    height: 700px;
}

a {
    font-size: 36px;
    color: white;
    text-decoration: none;
    text-align: center;
}
a:hover {
    color: #7795FF;
}
a:active {
    color:#9ad1ff;
}